# Choose one: openai, gemini, groq or ollama
LLM_PROVIDER=groq

SYSTEM_PROMPT=You are a helpful AI assistant.

OPENAI_API_KEY=
OPENAI_MODEL=

GEMINI_API_KEY=
GEMINI_MODEL=

GROQ_API_KEY=
GROQ_MODEL=

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=
